---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.astro";
let name = "Jørgen Lohne";
---

<Layout title={name}>
  <main>
    <Hero />
    <Timeline />
  </main>
</Layout>

<style></style>
