---
import TimelineEvent from "../components/TimelineEvent.astro";
---

<div class="m-24 flex flex-col items-start justify-center gap-16">
  <h2 class="text-3xl text-zinc-300">Education</h2>
  <TimelineEvent
    header="Education"
    content="I completed a degree in computer science in 2022"
  />
  <TimelineEvent
    header="Traveling"
    content="In 2019 I decided to take a gap year, I spent a year doing a 'working holiday' in Australia. Here I picked up various smal jobs to get by while travelling around Australia, or at least that was the plan until the pandemic hit. Due to the pandemic I ended up spennding most of my time in Sydeny getting by the best I could while trying to enjoy my gap year as best as possible."
  />
  <TimelineEvent />
</div>
