---
import TimelineEvent from "../components/TimelineEvent.astro";
---

<div class="m-24 flex flex-col items-start justify-center gap-16">
  <h2 class="text-3xl text-zinc-300">Expience</h2>
  <TimelineEvent
    header="Tietoevry"
    content="I started working full time as a software enigneer creating security Products for Tietovery afer graduating univeristy"
  />
  <TimelineEvent
    header="Tryg"
    content="While stying I worked part time as a fullstack developer for Tryg. I worked in the 'Bilweb' team where we created a platform to provide cardealerships the ability to sell car insurence when a customer purcheased a car. I helped create custom solution for clients such as Volkswagen Mæller and Telsa."
  />
</div>
